Subject.pdf
.vscode/
src/bin/
.venv/
.ipynb_checkpoints
## pour le latex
*.aux
*.log
*.out
*.toc
*.pdf
*.fdb_latexmk
*.fls
*.synctex.gz

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf




# Executables
/boundValidity
/descartesValidity
/isolationValidity
/manualTestIsol
/taylorShiftValidity
/testTPS
/testTronc
/test_iso_base
/DivConq_precomputeGeneration
/boundManualTest
/boundTest
/descartesTest
/evaluateTest
/flintMultTest
/lowest_bound_test
/mult_x_plus_one_test
/polyRandomGeneration
/taylor_shift_efficiency
/taylor_shift_efficiency2
/test_pre_computation




# Ignore database (heavy)
DATA/Poly_ChangingCoeffSize/*
DATA/Poly_ChangingDegree/*
DATA/Precomputation_DivConq/*

# Keep empty foldersfor cloning
!DATA/Poly_ChangingCoeffSize/.gitkeep
!DATA/Poly_ChangingDegree/.gitkeep
!DATA/Precomputation_DivConq/.gitkeep